@model CommunitySite.ViewModels.ForumIndexViewModel
@{
    ViewData["Title"] = "C.O.D.E.C. Forum";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width =device-width" />
    <title>Forum</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="container text-center">
        <p class="text-left">
            <h3>Forum</h3><br />
            <a class="btn btn-primary" asp-controller="Forum" asp-action="NewTopicLogin" asp-route-user="@Model.user">Click Here To Add a Topic</a>
            @if (Model.Topics.Count() != 0)
            {
                @foreach (Topic t in Model.Topics)
                {
                    <h4>@t.Title</h4>
                    @("Posted: " + t.PubDate) <br />
                    @("Author: " + t.Author.UserName)<br />
                    @("Message: " + t.Body) <br />
                    <br />
                    @if (t.Comments.Count != 0)
                    {
                        @(t.Comments.Count + " Replies: ")<br />

                        @foreach (Message m in t.Comments)
                        {
                            @("User: " + m.Author.UserName)<br />
                            @("Date: " + m.PubDate) <br />
                            @("Message: " + m.Body) <br />
                            <hr />
                        }
                        //string url = "/Forum/NewMessage" + "?title=" + @t.Title;
                        Model.user.ReplyingTo = t.TopicID.ToString();
                        AppUser user = Model.user;
                        <a class="btn btn-primary" href="@Url.Action("NewMessage", "Forum", user)">
                            Add a comment
                        </a>
                        <!--<a class="btn btn-primary" asp-route-user="@Model.user" asp-route-topic="@t" asp-controller="Forum" asp-action="NewMessage">Add a Comment</a>
                        -->}
                    else
                    {
                        @("No replies yet. Be the first One!")<br />
                        string url = "/Forum/NewMessage" + "?title=" + @t.Title;
                        Model.user.ReplyingTo = t.TopicID.ToString();
                        AppUser user = Model.user;
                        <!--<a class="btn btn-primary" asp-route-user="@user" asp-route-topic="@t" asp-controller="Forum" asp-action="NewMessage">Add a Comment</a>
                        -->
                        <a class="btn btn-primary" href="@Url.Action("NewMessage", "Forum", user)">
                            Add a comment
                        </a>
                        <!--<a class="btn btn-primary" href="@url">Add a Comment</a>-->
                    }
                }
            }

            <br>
        </p>
    </div>
    <div class="container">
        <br />
        <br />
        <br />
    </div>
</body>
</html>
